<div class="d-flex justify-content-center mt-5">
    <!-- Card -->
    <div class="card">

      <h3 class="card-title d-flex justify-content-center mt-2 font-weight-bold">Contact</h3>

      <!-- Card image -->
      <div class="view overlay d-flex justify-content-center">
        <img class="" src="https://media.giphy.com/media/2shcnhQwRLQfN9GgXI/giphy.gif" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Button -->
      <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"></i></a>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title"></h4>
        <hr>
        <!-- Text -->
        <p class="card-text d-flex justify-content-center"><strong>Alexandre Gasior</strong> <i class="fas fa-phone ml-2 mr-2 text-success"></i> 06 52 01 65 95</p>
        <p class="card-text d-flex justify-content-center"><strong>Benjamin Camino</strong> <i class="fas fa-phone ml-2 mr-2 text-success"></i> 06 59 05 74 36</p>

      </div>

    </div>
    <!-- Card -->
</div>
