<section>
  <h3>Contact</h3>
  <p><strong>Alexandre Gasior</strong> <i class="fas fa-phone ml-2 mr-2 text-success"></i> 06 52 01 65 95</p>
  <p><strong>Benjamin Camino</strong> <i class="fas fa-phone ml-2 mr-2 text-success"></i> 06 59 05 74 36</p>
</section>
