<section class="mt-5">
	<h2 class="text-center">Contact</h2>
	<h4 class="text-center mt-5">The Super <span class="text-danger">Fuck</span> Friends</h4>
	<div class="text-center mt-3">
	  <h6>Alexandre Gasior</h6>
	  <p> 06 52 01 65 95 </p>
	  <h6>Benjamin Camino</h6>
	  <p>06 59 05 74 36</p>
	</div>
</section>
