<section>
  <h1>Landing page</h1>
  <p>Présentation en quelques lignes du site pour motiver le visiteur à s'inscrire</p>
  <a href="<%= new_user_path %>" type="button" name="button" class="btn btn-primary">S'inscrire</a>
  <a href="<%= new_session_path %>" type="button" name="button" class="btn btn-primary">Se connecter</a>
</section>
