<section>
  <h1>Landing page</h1>
  <p>Présentation en quelques lignes du site pour motiver le visiteur à s'inscrire</p>
  <button type="button" name="button" class="btn btn-primary">S'inscrire</button>
  <button type="button" name="button" class="btn btn-primary">Se connecter</button>
</section>
