<section class="">
  <h2 class="text-center mt-5">Our amazing team</h2>
  <p class="text-center mt-3 mb-5">Une équipe de développeurs à votre service. Une expertise sans égale dans la réalisation de vos sites/applications. N'hésitez plus et faites nous confiance !</p>
</section>

<section class="d-flex justify-content-around flex-row mt-5">

  <div class="avatar mx-auto">
    <img src="https://i.imgur.com/lYLvGXv.png" class="rounded-circle z-depth-1"
      alt="Sample avatar">
    <h4 class="text-center mt-4">Grocosto</h4>
    <h6 class="text-center mb-4"><strong>Back Faper</strong></h6>
    <p class="text-center">C'était complètement inattendu !</p>
  </div>


  <div class="avatar mx-auto">
    <img src="https://i.imgur.com/rcIJd1E.png" class="rounded-circle z-depth-1"
      alt="Sample avatar">
    <h4 class="text-center mt-4">Kévin</h4>
    <h6 class="text-center mb-4"><strong>POLAR BEAR</strong></h6>
    <p class="text-center">Oulala</p>
  </div>

</section>
