<section>
  <h2>Our amazing team</h2>
  <p>Une équipe de développeurs à votre service. Une expertise sans égale dans la réalisation de vos sites/applications. N'hésitez plus et faites nous confiance !</p>

  <div class="avatar mx-auto">
    <img src="https://i.imgur.com/lYLvGXv.png" class="rounded-circle z-depth-1"
      alt="Sample avatar">
  </div>
  <h5>Grocosto</h5>
  <p ><strong>Back Faper</strong></p>
  <p>C'était complètement inattendu !</p>

  <div class="avatar mx-auto">
    <img src="https://i.imgur.com/rcIJd1E.png" class="rounded-circle z-depth-1"
      alt="Sample avatar">
  </div>
  <h5>Kévin</h5>
  <p><strong>POLAR BEAR</strong></p>
  <p>Oulala</p>
</section>
