<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">Une équipe de développeurs à votre service. Une expertise sans égale dans la réalisation de vos sites/applications. N'hésitez plus et faites nous confiance !</p>
  

  <!-- Grid row -->
  <div class="d-flex justify-content-around">

    <!-- Grid column -->
    <div class="mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://i.imgur.com/lYLvGXv.png" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Grocosto</h5>
      <p class="text-uppercase blue-text"><strong>Back Faper</strong></p>
      <p class="grey-text">C'était complètement inattendu !</p>
      <ul class="list-unstyled mb-0">
        
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://i.imgur.com/rcIJd1E.png" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Kévin</h5>
      <p class="text-uppercase blue-text"><strong>POLAR BEAR</strong></p>
      <p class="grey-text">Oulala</p>
      <ul class="list-unstyled mb-0">
        
      </ul>
    </div>
    </div>
    <!-- Grid column -->

  </div>
</section>
<!-- Section: Team v.1 -->