<h1 class="text-center mt-5">Bienvenue <%= current_user.username %></h1>

<h6 class="text-center mt-5"> J'espère que tu as bien préparé tes histoires les plus salaces, parce-qu'ici,<br/> <span class="text-danger"> on ne fait pas dans le potin fin.</span> </h6>
