<header>
  <h1>The GrosSip project !</h1>
  <p>parcequ'on ne fait pas dans le potin fin.</p>
  <ul>
    <li><%= link_to 'Crée ton Gossip', create_gossip_path %></li>
    <li><%= link_to 'La team', team_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
  </ul>
</header>

<section>
  <p>Find me in app/views/users/get_username.html.erb</p>
</section>
