<div class="d-flex justify-content-center mt-5">
    <!-- Card -->
    <div class="card">

      <h3 class="card-title d-flex justify-content-center mt-2 font-weight-bold">Bienvenue <%= params[:username] %></h3>

      <!-- Card image -->
      <div class="view overlay d-flex justify-content-center">
        <img class="" src="https://media.giphy.com/media/l4JyOCNEfXvVYEqB2/giphy.gif" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Button -->
      <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"></i></a>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title"></h4>
        <hr>
        <!-- Text -->
        <p class="card-text d-flex justify-content-center">C'est un grand jour pour toi, tu vas retourner l'internet !</p>
        <p class="card-text d-flex justify-content-center"></p>

      </div>

    </div>
    <!-- Card -->
</div>
