<h1>Gossip#create_gossip</h1>
<p>Find me in app/views/gossip/create_gossip.html.erb</p>
<form action='/create_gossip/' method='POST'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      Balance ton blase : <input type='text' name='gossip_username'/><br/>
      Balance ton title : <input type='text' name='gossip_title'/><br/>
      Balance ton potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
</form>
