<header>
  <h1>The GrosSip project !</h1>
  <p>parcequ'on ne fait pas dans le potin fin.</p>
  <ul>
    <li><%= link_to 'Crée ton Gossip', create_gossip_path %></li>
    <li><%= link_to 'La team', team_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
  </ul>
</header>

<section>
  <form action='/create_gossip/' method='POST'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        Balance ton blase : <input type='text' name='gossip_username'/><br/>
        Balance ton title : <input type='text' name='gossip_title'/><br/>
        Balance ton potin : <input type='text' name='gossip_content'/><br/>
        <input type='submit'/>
  </form>
</section>
