<h1>Potin3000 !</h1>
<p>Voici la page du potin n°<%= params[:gossip_id] %></p>
<p>Son auteur : <%= Gossip.find(params[:gossip_id]).user.username  %></p>
<p>Son titre : <%= Gossip.find(params[:gossip_id]).title %></p>
<p>Le contenu du potin : <%= Gossip.find(params[:gossip_id]).content %></p>
