<section>
	<form action='/gossips/' method='POST' class="d-flex justify-content-center flex-column align-items-center">
	      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	      <input class="form-control" type="text" name='gossip_username' placeholder="Nom de commère"><br/>
	      <input class="form-control" type="text" name='gossip_title' placeholder="Nomme ton histoire"><br/>
	      <input class="form-control" type="text" name='gossip_content' placeholder="Ici, ton gros secret"><br/>
	      <button type="submit" class="btn btn-secondary btn-lg btn-block">Balance ton histoire salace</button>
	</form>
</section>
